*{
    font: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #FF7F50, #FF4500);
    color: #fff;
    padding-top: 8%;
    padding-left: 4%;
}

.title{
    display: flex;
    align-items: center;
    font-size: 36px;
}

.title img{
    width: 60px;
}

.button{
    display: flex;
    align-items: center;
    outline: 0;
    border-color: transparent;
    background: transparent;
    color: white;
    padding: 4px;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;

}

.button:hover{
    border-color: white;
    border-radius: 10px;
    color: #FF7F50;
    background: white;
}

.button img{
    width: 25px;
    padding-right: 6px;
}

.input-box img{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 25px;
    padding-top: 3px;
}

.notecard img:hover{
    cursor: pointer;
}

.input-box{
    position: relative;
    color: black;
    padding: 10px;
    margin: 10px;
    outline: none;
    max-width: 350px;
    min-height: 200px;
    border: none;
    background: #fff;
    border-radius: 8px;
}


